<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=UTF-8 />
<title> 首页</title>
</head>
<body>
model：<span th:text="${name}"></span>
<hr>
request1: <span th:text="${#httpServletRequest.getAttribute('name')}"></span>
<hr>
request2: <span th:text="${name}"></span>
<hr>
session: <span th:text="${#session.getAttribute('name')}"></span>
<hr>
context: <span th:text="${#servletContext.getAttribute('name')}"></span>
<hr>

</body>
</html>